@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v3/yVHpdQrmTj9Kax1tmFSx2j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
    font-family: Oxygen;
    color: white;
    line-height: 1.428571429;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
}

#page-welcome {
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    #page-welcome header h1 {
        margin: 0;
        padding-top: 15%;
        font-size: 4.5em;
        font-weight: 700;
        letter-spacing: .1em;
        line-height: 1em;
        text-transform: uppercase;
    }

    #page-welcome header p {
        font-size: 1.5em;
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 8px;
        letter-spacing: .1em;
        line-height: 3em;
        text-transform: uppercase;
    }

.nav > li {
    text-align: center;
    display: inline-block;
    margin: auto;
    float: none;
}

.navbar-nav {
    text-align: center;
    float: none;
    margin: auto;
}

.btn-twitter:hover {
    color: #2BA9E0;
}

.btn-facebook:hover {
    color: #204385;
}

.btn-dribbble:hover {
    color: #D92C85;
}

.btn-instagram:hover {
    color: #BAB1A8;
}

.btn-linkedin:hover {
    color: #015786;
}

.btn-pinterest:hover {
    color: #CA2128;
}

.btn-google:hover {
    color: #D3492C;
}

.btn-default:hover{
    color:black;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
}

.social-icons {
    padding-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}

.btn-round {
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
    border: 1px solid #fff;
}

    .btn-round i {
        font-size: 20px;
        top: 15px;
        position: relative;
    }

.btn.btn-clear {
    border: 1px solid #fff;
    background: 0 0;
    background-color: none;
    font-weight: 700;
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: 0;
    -moz-transition-property: 0;
    -o-transition-property: 0;
    transition-property: transform;
}

    .btn.btn-clear.selected, .btn.btn-clear:hover {
        background: #fff;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

.section-header {
    text-align: center;
}

.section-title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    color: #555;
    text-transform: uppercase;
    padding: 20px 0;
}

.section-header p {
    font-size: 1.5em;
    color: #404040;
}

.section-subtitle {
    text-align: center;
    padding: 30px 0;
    color: #404040;
}

h3 {
    color: #404040;
    font-size: 24px;
}

.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
    background: #3498db;
}

.row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hire-me {
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

    .hire-me:hover {
        color: black;
        background-color: rgba(255,255,255,1);
    }

#page-profile {
    background: #fff;
    color: #404040;
    padding: 5%;
}

    #page-profile p {
        text-align: justify;
    }

#page-skills {
    padding: 75px 0;
    background: #f7f7f7;
    text-align: center;
    color: #404040;
}

.chart {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.percent {
    display: inline-block;
    line-height: 150px;
    z-index: 2;
    color: #757575;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#page-education {
    padding: 75px 0;
    background: #fff;
    color: #404040;
}

#page-experience {
    padding: 75px 0;
    background: #f7f7f7;
    color: #404040;
}

#page-contact {
    background: #3498db;
    color: #fff;
    padding-bottom: 8%;
    padding-top:5%;
}
